@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mystery";
  src: url("./Misteryzero-Regular.ttf");
}

body {
  color: "white";
  font-size: 14px;
  font-family: "-apple-system, Roboto, sans-serif, serif";
}

@keyframes dip {
  50% {opacity: 0.45}
  100% {opacity: 0.9}
}

@keyframes floating {
  0% { transform: translate(0,  0px);
  
    box-shadow: 0px 0px 5px 0px white; }
  50%  { transform: translate(0, 2px); 
    box-shadow: 0px 0px 15px 3px white;}
  100%   { transform: translate(0, -0px);
    box-shadow: 0px 0px 5px 0px white;
     }    
}

.dip-animation {
  opacity: 0.9;
  animation: dip 5s ease-in-out infinite;
}

.floating-animation {
    animation: floating 3s ease-in-out infinite;
}

input[type='radio'] {
  accent-color: rgb(254 240 138);
}

@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-40px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} 

@keyframes fadeOutRight {
  0% {
     opacity: 1;
     transform: translateX();
  }
  100% {
     opacity: 0;
     transform: translateX(40px);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes opacityOut {
  0% {
     opacity: 1;
  }
  100% {
     opacity: 0;
  }
}

.opacityOut {
  -webkit-animation-name: opacityOut;
  animation-name: opacityOut;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes floatingRed {
  0% { transform: translate(0,  0px);
  
    box-shadow: 0px 0px 5px 0px red; }
  50%  { transform: translate(0, 2px); 
    box-shadow: 0px 0px 15px 3px red;}
  100%   { transform: translate(0, -0px);
    box-shadow: 0px 0px 5px 0px red;
     }    
}

@keyframes floatingBlue {
  0% { transform: translate(0,  0px);
  
    box-shadow: 0px 0px 5px 0px blueviolet; }
  50%  { transform: translate(0, 2px); 
    box-shadow: 0px 0px 15px 3px blueviolet;}
  100%   { transform: translate(0, -0px);
    box-shadow: 0px 0px 5px 0px blueviolet;
     }    
}

@keyframes floatingYellow {
  0% {
  
    box-shadow: 0px 0px 5px 0px yellow; }
  50%  {
    box-shadow: 0px 0px 15px 3px yellow;}
  100%   {
    box-shadow: 0px 0px 5px 0px yellow;
     }    
}

.floatingRed {
  animation: floatingRed 3s ease-in-out infinite;
}

.floatingBlue {
  animation: floatingBlue 3s ease-in-out infinite;
}

.floatingYellow {
  animation: floatingYellow 3s ease-in-out infinite;
}

.blueFilter {
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  animation: shake 0.5s infinite;
}

@keyframes dipRed {
  0% {
    box-shadow: 0px 0px 5px 0px red; }
  50%  {
    box-shadow: 0px 0px 15px 10px red;}
  100%   {
    box-shadow: 0px 0px 5px 0px red;
     }    
}

.dipRed {
  animation: dipRed 1s infinite;
}

@keyframes inOutLight {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 90%;
  }
  100% {
    opacity: 0%;
  }
}

.inOutLight {
  background-color: white;
  animation: inOutLight 5s linear;
  opacity: 0;
}

@keyframes redFilter {
  0% {
    filter: sepia(0%) hue-rotate(190deg) saturate(300%);
  }
  50% {
    filter: sepia(80%) hue-rotate(190deg) saturate(300%);
  }
  100% {
    filter: sepia(0%) hue-rotate(190deg) saturate(300%);
  }
}

.redFilter {
  animation: redFilter 3s infinite;
}